body{
    background-size: cover;
}
.header{
    line-height: 2;
    width: 100%;
    margin-top: 0px;
    background-color: rgb(255, 125, 0);
    color: white;
    font-weight: bolder;
    font-size: 25px;
}